@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Soyo Maple';
  font-style: normal;
  src: url('/fonts/SOYO-maple.woff2') format('woff2'),
    url('/fonts/SOYO-maple.woff') format('woff'),
    url('/fonts/SOYO-maple.ttf') format('truetype'), url('/fonts/SOYO-maple.otf') format('opentype');
}